.omnisearch-modal {
}

.omnisearch-result {
  white-space: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.omnisearch-result__title-container {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  column-gap: 50px;
  flex-wrap: wrap;
}

.omnisearch-result__title {
  white-space: pre-wrap;
  align-items: center;
  display: flex;
  gap: 5px;
}

.omnisearch-result__title > span {
}

.omnisearch-result__title::before {
  content: "🪶";
}
.suggestion-item.omnisearch-result[data-result-id^='02-Watched'] .omnisearch-result__title::before {
  content: "🎞️";
}

.omnisearch-result__folder-path {
  font-size: 0.75rem;
  align-items: center;
  display: flex;
  gap: 5px;
  color: var(--text-muted);
}
.omnisearch-result__folder-path::before {
  content: "🗂";
}

.omnisearch-result__folder-path[data-path^="@Inbox"]::before {
  content: "📥";
}
.omnisearch-result__folder-path[data-path^="00-Index"]::before {
  content: "🍓";
}
.omnisearch-result__folder-path[data-path^="01-Note"]::before {
  content: "📚";
}
.omnisearch-result__folder-path[data-path^="02-Watched"]::before {
  content: "🎬";
}
.omnisearch-result__folder-path[data-path^="03-Work"]::before {
  content: "💼";
}


.omnisearch-result__extension {
  font-size: 0.7rem;
  color: var(--text-muted);
}

.omnisearch-result__counter {
  font-size: 0.7rem;
  color: var(--text-muted);
}

.omnisearch-result__body {
  margin-top: 6px;
  white-space: normal;
  font-size: small;
  word-wrap: normal;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  color: var(--text-muted);
  margin-left: 0.5em;
  zoom: 0.85;
  height: 166px;
}

.omnisearch-result__image-container {
  flex-basis: 20%;
  text-align: right;
}

.omnisearch-highlight {
}

.omnisearch-default-highlight {
  color: #fa243c;
}

.omnisearch-input-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}

@media only screen and (max-width: 600px) {
  .omnisearch-input-container {
    flex-direction: column;
  }

  .omnisearch-input-container__buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 1em 0 1em;
    gap: 1em;
  }
  .omnisearch-input-container__buttons > button {
    flex-grow: 1;
  }
}

@media only screen and (min-width: 600px) {
  .omnisearch-input-container__buttons {
    margin-right: 1em;
  }
}

.omnisearch-input-field {
  position: relative;
  flex-grow: 1;
}
